<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
      <div class="container" ng-controller="NarrowItDownController as narrowit">
          <h1>Narrow Down Your Chinese Menu Choice</h1>
          <div class="search">
              <input type="text" placeholder="search term" class="form-control" ng-model="narrowit.shortName">
              <div class="narrow-button">
                  <button class="btn btn-primary" ng-click="narrowit.matchedMenuItems(narrowit.shortName)">Narrow It Down For Me!</button>
              </div>
          </div>
          <found-item found-item="narrowit.found" on-remove="narrowit.removeMenuItem(index)" on-empty="narrowit.message"></found-item>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="app.js"></script>
  </body>
</html>
